*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkgray;
    color: whitesmoke;
    font-size: 1.0rem;
    font-weight: bold;
}

/* css cabeçalho */

.cabecalho{
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: rgba(140,140,140,0.8);
}

nav li{
    display: block;
    margin-right: 20px;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;    
}



/* css principal */

h1{
    padding: 8px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 1.75rem;
}

.jovem-escolhendo-sapato{
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4px; 
}

.img-jovem, .img-moca{
    border: 1px solid rgba(160,160,160,0.9);
    border-radius: 24px;
    opacity: 0.6;
}
.icon{
    align-items: center;
    text-align: center;
}


.texto-principal{
    margin: 4px;
    padding: 4px;
    font-size: 0.75rem;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}

/* css footer */

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 0.5rem;
}

footer{
    padding: 4px;
    background-color: rgba(140,140,140,0.8);
    font-size: 0.4rem;
    text-align: center;
}


@media(min-width:400px){
    body, .texto-principal{
        font-size: 1.75rem;
        padding: 12px;
    }

    .cabecalho{
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:center;
        background-color: rgba(140,140,140,0.8);
    }

    nav li{
        display: inline;
        margin-right: 20px;
    }

    nav a, .rodape{
        font-size: 1.5rem;
    }

    footer{
        font-size:1rem;
    }
}

@media(min-width:600px){
    body, .texto-principal{
        font-size: 2.25rem;
        padding: 16px;
    }

    .cabecalho{
        padding: 16px;
    }

    nav li{
        display: inline;
        margin-right: 40px;
    }
}

@media(min-width:900px){
    body, .texto-principal{
        font-size: 2.25rem;
    }
}

@media(min-width:1200px){

    /* Não será feita a confirguração
    é apenas para lebrar do valor  */
}

@media(min-width:1800px){

    /* Não será feita a confirguração
    é apenas para lebrar do valor  */
}

